body {
  background-color: #ecf0f1;
}
/*-------Navigation-------*/
#nav-bar{
	position: sticky;
	top:0;
	margin-top: 0px;
	z-index: 10;
	background-color:white;
}
.navbar-brand img{
height:110px;
padding-left: 50px;
}
.navbar h3{
font-family: Garamond;
color:#0086b3;
font-size:14px;
    width: 500px;
     margin-bottom: 12px;
	margin-top: 10px;
}
.navbar h1{
color :#595959;
font-size: 35px;
    width: 1000px;
	height:60px;
    margin-bottom: 0px;
    margin-top: 18px;	
}
.navbar-nav li{
	padding: 0 10px;
}
.navbar-nav li a{
	float: right;
	margin-right:10px;
	text-align: left;
	-webkit-transition-duration:0.3s;
	transition-duration: 0.3s;
}
#nav-bar ul li a:hover{
	color:#007bff!important;
	border-bottom: 10px solid #0086b3;
}
#active{
	background-color:#81ecec;
	color: white;
}
.navbar{
	background:#fff;
}
#navbar-toggler{
	border:none!important;
}
.nav-link{
	color: #555;
	font-weight: 600;
	font-size: 16px;
}
/*Contact*/
#contact{
  grid-template-columns: 40% 60%;
  margin: 30px;
}
#active{
background-color: #81ecec;
color: white;
}
.maps{
  float: left;
  padding-left: 27px;
  border: 2px solid #0086b3;
}
.info{
  float: right;
  margin-left: 160px;
  margin-top: 55px;
  font-size: 22px;
}
.info h2{
  font-size: 37px;
  color:#4b7bec;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
}

.slides li {
	width: 250px;margin-right: 0px;float: left;display: block;
}

body{
	background: #efefef;
	font-family: sans-serif;
}
.title-box h1{
	text-align: center;
	margin: 20px auto 10px;
	text-transform: uppercase;
	color: #555;
	font-size: 40px;
	padding-bottom: 10px;
}

.title-box h1::after{
	content: '';
	background: #007bff;
	display: block;
	height: 3px;
	width: 170px;
	margin: 10px auto 5px;
}

.title-box p {
	margin: 10px auto 30px;
	line-height: 25px;
	font-size: 25px;
	text-align: center;
	color: #595959;
}

.profile-box {
	width: 200px;
	height: 340px;
	background: #fff;
	border-radius: 4px;
	margin-bottom: 10px;
	box-shadow: 0 10px 10px 10px rgba(115,193,255,0,1);
	padding: 30px;
	position: relative;
	transition: background .5s;
}
.profile-box img{
	width: 60px;
	position: absolute;
	top: 2px;
	right: 5px;
	border-radius: 100px;
	transition: .5s ;
}
.profile-box h4{
	margin-top: 2px;
	margin-bottom: 10px;
	color: #2196f3;
}
small{
	color:#555;
}
.social-box{
	background: #2196f3;
	margin: 20px  20px  ;
	margin-left: 0;
	text-align: center;
	border-radius: 3px;
	width: 150px;
	height: 30px;
}
.social-box .fa {
    margin: 6px;
	color:#fff;
	cursor: pointer;

}
.profile-box p{
	text-align: center;
	color:#555;
	line-height: 24px;
}
.team-row {
	display: flex;
	justify-content:space-between;
	flex-wrap:wrap;
	width: 100%;
	margin:auto;
}
.profile-box img:hover{
	width: 150px;
	
}